

.categories{
    background-color: #ffffff;
    align-items: center;
    padding: 10px;
}

body, .categories{
    background-color: #3B3B3B;
}

.headline-text, .about-text{
    color: #f2f2f2;
}

.about-text{
    text-align: center;
    margin-top: 20px;
}

.news-card{
    background-color: #626262;
}

.card-title, .card-text{
    color: #f2f2f2;
}

.Newsy{
    text-decoration: none;
    color: rgb(134, 134, 230);  
    font-size: 25px;
    margin: 0 20px 0 0;
    font-weight: bold;
}

.badge, .read-more-btn{
    background-color: rgb(134, 134, 230);  
    color: #f2f2f2;
}